
# NODE / REACT
node_modules/
dist/
build/
coverage/


# ENV FILES 

.env
.env.*
backend/.env
frontend/.env
ml/.env

# PYTHON 
__pycache__/
*.pyc
*.pyo
*.pyd


# SYSTEM FILES
.DS_Store
.vscode/


# LOG FILES
*.log


# OPTIONAL 
uploads/
tmp/